@font-face {
    font-family: 'glegooregular';
    src: url('../fonts/glegoo-regular-webfont.woff2') format('woff2'),
         url('../fonts/glegoo-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'hk_grotesklight';
    src: url('../fonts/hkgrotesk-light-webfont.woff2') format('woff2'),
         url('../fonts/hkgrotesk-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'znikomitregular';
    src: url('../fonts/znikomit-webfont.woff2') format('woff2'),
         url('../fonts/znikomit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'manualeregular';
    src: url('../fonts/manuale-regular-webfont.woff2') format('woff2'),
         url('../fonts/manuale-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    color: #DEDEDE;
    background-color: #212121;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "hk_grotesklight", sans-serif;
    font-weight: normal;
}

p {
    font-family: "hk_grotesklight", sans-serif;
}